/* This is a comment in CSS            */
/* CSS defines formatting for the page */
/* The general format: selector {
                                  css rule;
                                  css rule;
                                }
*/  
/* for now we use html tags as selectors */

html { /* style all the elements within the html tag */
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    color:blue
}
h2 {
  color:green
}
footer{
  color: red;
  margin-top: 50px;
  font-size: 10px;
}

